@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
body {
  font-family: 'Lato', 'Roboto Mono', monospace, serif;
}
a {
  color: #212529;
  text-decoration: none;
}
a.active {
  color: #198754;
}