@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
body {
  font-family: 'Lato', 'Roboto Mono', monospace, serif;
}
a {
  color: #212529;
  text-decoration: none;
}
a.active {
  color: $success;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background-color: $success;
  }
}