@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "base";
@import "utility";
.list-group-item.active {
  background: #F8F9FA;
  border: 1px solid #CED4DA;
}
.bg-light {
  background: #F8F9FA;
}